<strong>
  Oi, {{provider}}
</strong>
<p>
  Occoreu um cancelamento, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/hora: </strong> {{date}} <br />
  <br />
  <small>
    O horário pode ser usado por outro cliente.
  </small>
</p>
